.container {
  box-sizing: border-box;
  width: 100%;
  border-radius: 40px;
  background-color: #1c1c21;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.time_number_box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.img_price_box {
  display: flex;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

.images {
  position: relative;
  width: 304px;
  height: 64px;
  display: grid;
  grid-template-columns: repeat(6, 55px);
}

.image {
  background-color: #000;
  width: 64px;
  height: 64px;
  border: 2px solid #4c4cff;
  border-radius: 100px;
  object-fit: cover;
}

.price_box {
  display: flex;
}

.num {
  position: relative;
  bottom: 50px;
  left: 280px;
  z-index: 300;
}

.opacity {
  opacity: 0.6;
}

.link {
  text-decoration: none;
  color: #f2f2f3;
}
