.card_container {
  max-width: 272px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #131316;
}

.card_container:hover {
  cursor: pointer;
  opacity: 0.8;
}

.price_box {
  display: flex;
}
