.header_popup {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  padding: 40px 40px 16px 40px;
  width: 100%;
}

.title {
  margin: 0;
  margin-right: auto;
  color: #f2f2f3;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

.button {
  border: none;
  outline: none;
  background-color: #1c1c21;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.button:hover {
  opacity: 0.5;
}
