.header_popup {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  width: 100%;
}

.title {
  margin-right: auto;
}

.button {
  border: none;
  outline: none;
  background-color: #1c1c21;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.button:hover {
  opacity: 0.5;
}
