.header {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 24px 0 24px 0;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8585ad;
  position: relative;
}

.nav_item {
  color: #f2f2f3;
}

.logo {
  margin: 0 auto;
  position: absolute;
  left: 36%;
}
