.details_popup {
  width: 720px;
  height: 538px;
}

.image {
  width: 480px;
  height: 240px;
}

.info_box {
  display: flex;
  gap: 20px;
}

.info_small_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8585ad;
}
