.order_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.price {
  margin: 0;
  margin-right: 9px;
}

.image {
  margin-right: 41px;
  width: 33px;
  height: 33px;
}